
<h1 id="inventoryCount">Inventory Items:
	{{vm.countInventoryItems()}}</h1>
<h1>{{vm.store.name}}</h1>
<h3>{{vm.store.email}}, {{vm.store.phone}}</h3>
<p>{{vm.store.address.street}}, {{vm.store.address.city}}, {{vm.store.address.state}},
	{{vm.store.address.zip}}</p>

<!-- StoreView -->
<div id="listerstore" ng-show="vm.listerInventory">
<table class="table">
	<thead>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Type</th>
			<th>Rental Rate per Day (USD)</th>
			<th>Qty Available</th>
			<th>Edit Item</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.listerInventory | unique: 'equipment.id'">
			<td>{{item.equipment.make}}</td>
			<td>{{item.equipment.model}}</td>
			<td>{{item.equipment.type}}</td>
			<td>{{item.equipment.rate | number :2}}</td>
			<td>vm.countInventory()</td>
			<td><button type="submit" class="btn btn-success" ng-click="vm.addToCart(dates, item)">∆</button></td>
			<td><input type="checkbox" class= "" ng-model="item.active" ng-change="vm.updateItems(vm.inventory.id, item)"></td>
		</tr>
	</tbody>
	<button type="submit" class="btn btn-warning">Add Item</button>
</table>
</div>