
<h1>{{vm.store.name}}</h1>
<h2>{{vm.store.email}}, {{vm.store.phone}}</h2>
<h2>{{vm.store.street}}, {{vm.store.city}}, {{vm.store.state}},
	{{vm.store.zip}}</h2>

<table class="table">
	<thead>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Type</th>
			<th>Rental Rate per Day</th>
			<th>Qty Available</th>
			<th>Add to Cart</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.inventory | orderBy :id">
			<td>{{item.make}}</td>
			<td>{{item.model}}</td>
			<td>{{item.type}}</td>
			<td>{{item.rate}}</td>
			<td>vm.countInventory()</td>
			<td><button type="submit" ng-click="vm.addToCart(item)">+</button></td>
		</tr>
	</tbody>
</table>

