body {
	background-image: url('../images/landing.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #222222;
}

#welcomeName {
	display:inline-block;
	margin-top: 20px;
}

#loginButton {
	color: #025AA5;
}

#loginButton:hover {
	color: #fff;
}

.modal-content {
	background: rgba(255, 255, 255, 0.55);
	text-align: left;
	position:;
	border-radius: 1px;
}

.redText {
	color: red;
}

#login {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	min-width: 30vw;
	height: 40vh;
}

#login a {
	color: #222222;
}

#login a:hover {
	font-weight: bold;
	color: white;
}

.modal-content h2 {
	text-align: center;
}

.modal-content a:hover {
	color: red;
	text-decoration: none;
}

.btn-link {
	color: white;
}

.modal-heading h2 {
	color: #222222;
}

.errors {
	color: red;
	text-align: center;
}

#listerLogin {
	text-align: right;
	top: 0;
}

#btnWhite {
	background: #fff;
}

#btnWhite:hover {
	background: #025AA5;
}

.btn {
	border-radius: 40px;
	background: none;
}

.btn-primary {
	color: #025AA5;
}

.btn:hover {
	border-radius: 40px;
}

#listerLogin .btn-danger {
	color: #fff;
}

#listerLogin .btn-danger:hover {
	color: #fff;
}

#listerLogin .btn-primary {
	color: #fff;
}

#listerLogin .btn-primary:hover {
	color: #fff;
}

input {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 2px;
	color: black;
}

input:focus {
	border-color: #333;
}

input[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 2px;
}

#announcements {
	position: relative;
	bottom : -100vh;
	max-width: 100vw;
}

#loginRow1 {
	margin: 0 auto;
	width: 100%;
	background: #fff;
	color: #222222;
}

#loginRow1 img {
	max-height: 350px;
	max-width: 400px;
	text-align: center;
	box-shadow: 5px 5px 5px #888888;
}