#map {
	margin: 2.5%;
	height: 150%;
}

#search {
	width: 250px;
	margin: auto;
	text-align:center;
}

.tableCenter {
	margin: 2.5%;
}

.dropDown {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 150px;
	height: 25px;
	color: black;
}

.dropDownSubmitBtn {
	margin-left: 65px;
	margin-right: 65px;
	color: black;
}

#tabNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
	color: #0a76d3;
	text-align:left;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: #fff;
}

#tabNav li {
	display: inline;
}

.table {
	background:#fff;
	color:black;
}

.table th {
	text-align:center;
}