<nav ng-show="vm.isLoggedIn()" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" id="myNavbar">
		<div class="navbar-header">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			<a class="navbar-brand" href="contact.html"><img id="logo"
				src="./images/icon.png" alt="picSure"></a>
				Welcome, {{vm.name}}
		</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="bold" href="#contact">Home</a></li>
				<li ng-show="vm.isAdmin()"><a class="bold" href="#">Business Stats</a></li>
				<li><a class="bold" href="#">Reservations</a></li>
				<li><a class="bold" id="about" ng-click="vm.profileRoute()">Profile</a></li>
				<li><a class="bold" href="#contact">Contact</a></li>
				<logout ng-show="vm.isLoggedIn()"></logout>
			</ul>
		</div>
</nav>
