<nav ng-show="vm.isLoggedIn()" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" id="myNavbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="#contact"><img id="logo" src="./images/icon.png" alt="picSure"></a>
			<h6 id="welcomeName">Welcome, {{vm.name}}</h6>
			
		</div>
			<ul class="nav navbar-nav navbar-right">				
				<li ng-show="vm.isAdmin()"><a class="bold" href="#bizStats">Business Stats</a></li>
				<li ng-hide="vm.isAdmin()"><a class="bold" ng-click="vm.homeRoute()">Home</a></li>
				<li ng-show="vm.isAdmin()"><a class="bold" href="#inventory">Inventory</a></li>
				<li><a class="bold" ng-click="vm.reservationRoute()">Reservations</a></li>
				<li ng-hide="vm.isAdmin()"><a class="bold" ng-click="vm.cartRoute()">Cart</a></li>
				<li><a class="bold" id="about" ng-click="vm.profileRoute()">Profile</a></li>
				<li><a class="bold" href="#contact">Contact</a></li>
				<logout ng-show="vm.isLoggedIn()"></logout>
			</ul>
		</div>
</nav>
