<div id="listerLogin">
	<button type="submit" class="btn btn-danger btn-md"
		ng-click="vm.displayListerLogin()" ng-show="vm.showListerLoginButton">Login
		as Lister</button>
	<!-- ng-show lister login form? -->
	<form ng-show="vm.showListerLogin">
		<input type="text" placeholder="username" ng-model="lister.username">
		<input type="password" placeholder="password"
			ng-model="lister.password">
		<button type="submit" class="btn btn-primary btn-sm"
			ng-click="vm.loginLister(lister)">Submit</button>
	</form>
</div>


<div class="modal-dialog" id="login">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Welcome to picSure!</h2>
			<div class="modal-body">
				<form class="form">

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-user"></span>
							</span> <input type="text" class="form-control" placeholder="Username"
								ng-model="user.username">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-lock"></span>
							</span> <input type="password" class="form-control"
								placeholder="Password" ng-model="user.password">
						</div>
					</div>

					<div class="form-group">
						<button id="loginButton" type="submit"
							class="btn btn-primary btn-md" ng-click="vm.loginUser(user)">Submit</button>
					</div>

					<div id="regLink">
						<a href="#/registerUser">Looking to find equipment? Open a
							user account.</a><br> <a href="#/registerLister">Looking to
							rent out equipment? Open a lister account.</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<div class="errors" ng-show="vm.error">{{vm.error}}</div>

<div id="announcements" class="container-fluid">
	<div class="row" id="loginRow1">
		<div class="col-md-6">
			<h4><span class="redText">Forgot</span> a key piece of camera equipment? No worries!</h4>
			<p>With picSure, you can quickly find and rent a backup to keep	you capturing life as it happens!</p>
			<img src="images/loginPic1.jpg">
		</div>

		<div class="col-md-6">
			<h4>Got some <span class="redText">extra equipment?</span> </h4>
			<p>Become a lister to help out your fellow photographers and start earning with your unused equipment.</p>
			<img src="images/loginPic2.jpg">
		</div>
	</div>
	<div class="row" id="loginRow1">
		<div class="col-md-12">
			<h4>Try <span class="redText">before</span> you buy!</h4>
			<p>Search for that item you've had your eye on for awhile.</p>
			<img src="images/loginPic3.jpg">
		</div>

	</div>
</div>