<button type="submit" class="btn btn-primary btn-md" ng-click="vm.showListerLogin()">Login as Lister</button>
<!-- ng-show lister login form? -->
<form ng-hide="vm.showListerLogin()">
<input type="text" placeholder="username" ng-model="user.username">
<input type="password" placeholder="password" ng-model="user.password">
<button type="submit" class="btn btn-success btn-md" ng-click="vm.loginLister(user)">Subimt</button>
</form>


<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Welcome to picSure!</h2>
			<div class="modal-body">
				<form class="form" id="login">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="email" class="form-control"
								placeholder="Username" ng-model="user.username">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
						</div>
					</div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg" ng-click="vm.loginUser(user)">Submit</button>
					</div>
					
					<a href="#/register">Create an account</a>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="errors" ng-show="vm.error">{{vm.error}}</div>