<table class="table" id="userReservations" ng-show="vm.showResSummary">
	<thead>
		<tr>
			<th>Reservation ID</th>
			<th>Reservation Creation Date</th>
			<th>Store?</th>
			<th># of Items</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="re in vm.userReservations | orderBy : 'id'">
			<td ng-click="vm.displayRes(re)">{{re.id}}</td>
			<td ng-click="vm.displayRes(re)">{{re.createdDate}}</td>
			<td ng-click="vm.displayRes(re)">{{re.store_id}}</td>
			<td ng-click="vm.displayRes(re)">{{vm.numItems(re)}}</td>
			<td><button type="submit" class="btn btn-warning btn-sm"
					ng-click="vm.displayRes(re)">∆</button></td>
			<td><button type="submit" class="btn btn-danger btn-sm"
					ng-click="vm.deleteRes(re)">X</button></td>
		</tr>
	</tbody>
</table>

<user-reservation-show res="vm.selected" ng-show="vm.selected" go-back="" on-update=""></user-reservation-show>
