<!-- User Form -->
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Update your lister details</h2>
			<div class="modal-body">
				<form class="form" id="udpateLister">
				
				<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-user"></span>
							</span> <input type="text" class="form-control"
								ng-model="vm.listerData.fName">
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-user"></span>
							</span> <input type="text" class="form-control"
								ng-model="vm.listerData.lName" >
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-envelope"></span>
							</span> <input type="email" class="form-control"
								ng-model="vm.listerData.email">
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control"
								ng-model="vm.listerData.phone" >
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-lock"></span>
							</span> <input type="password" class="form-control" ng-model="vm.listerData.password" >
						</div>
					</div>			

					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.updateLister(lister)">Update User Profile</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<button type="submit" class="btn btn-danger" ng-click="vm.destroyListerAccount(lister)">Permanently delete my account</button>

<!-- Store Form -->
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Update Store Details</h2>
			<div class="modal-body">
				<form class="form" id="updateStore">
				
				<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-envelope"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.email">
							
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.phone" >
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.address.street" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.address.street2" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.address.city" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.address.state" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" ng-model="vm.storeData.address.zip" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="hidden" class="form-control" ng-model="vm.storeData.address.latitude" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-phone"></span>
							</span> <input type="hidden" class="form-control" ng-model="vm.storeData.address.longitude" >
						</div>
					</div>		

					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.updateStore(store)">Update Store Details</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>