<h1>Find a rental location near you!</h1>

<div id="tabNav">
	<ul id="tablist">
		<li ng-click="vm.showMapButton()">Map&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li ng-click="vm.showLocList()">Location
			List&nbsp;&nbsp;|&nbsp;&nbsp;</li>
		<li ng-click="vm.showEquipList()">Equip List</li>
	</ul>
</div>

<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
            Having multiple modals open at once is probably bad UX but it's technically possible.
        </div>
    </script>
    

    <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
</div>


<div  ng-show="vm.showTable">
	<div id="map" map-lazy-load="https://maps.google.com/maps/api/js"
		map-lazy-load-params="{{vm.googleMapsUrl}}">
		<ng-map center="41,-87" zoom="3"> <marker ng-repeat="mk in vm.markers" position="{{mk}}" on-click="vm.showStore(mk)">
		 
	</div>
	</ng-map>
</div> 

<div id="listLocations" ng-show="vm.showLocations">
	<table class="table">
		<thead>
			<tr>
				<th>Store Name</th>
				<th>Street</th>
				<th>City</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="equpimentGlobal" ng-show="vm.showEquipment">
	<table class="table">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>City</th>
				<th>State</th>
				<th>Rate</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>